<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/mcp-reborn/src/main/java/mcp/client/Start.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="MOD_CLASSES" value="C:\Users\Dave\Downloads\TigerHackClient\s0urce\MCP-Reborn-1.18.1\MCP-Reborn-1.18\bin\main;C:\Users\Dave\Downloads\TigerHackClient\s0urce\MCP-Reborn-1.18.1\MCP-Reborn-1.18\bin\main"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="mcp.client.Start"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="mcp-reborn"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mcp-reborn"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-XX:HeapDumpPath=MojangTricksIntelDriversForPerformance_javaw.exe_minecraft.exe.heapdump &quot;-Dos.name=Windows 10&quot; -Dos.version=10.0"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Dave\Downloads\TigerHackClient\s0urce\MCP-Reborn-1.18.1\MCP-Reborn-1.18\run"/>
</launchConfiguration>
