<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
  <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mcp-reborn"/>
  <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraft.server.MinecraftServer"/>
  <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=""/>
  <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=""/>
  <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Dave\Downloads\TigerHackClient\s0urce\MCP-Reborn-1.18.1\MCP-Reborn-1.18\run"/>
  <mapAttribute key="org.eclipse.debug.core.environmentVariables">
    <mapEntry key="MOD_CLASSES" value="C:\Users\Dave\Downloads\TigerHackClient\s0urce\MCP-Reborn-1.18.1\MCP-Reborn-1.18\bin\main;C:\Users\Dave\Downloads\TigerHackClient\s0urce\MCP-Reborn-1.18.1\MCP-Reborn-1.18\bin\main"/>
  </mapAttribute>
</launchConfiguration>
